<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.pitersoft.iportogruaro"
        version   = "2.3.0">
    <name>iPortogruaro</name>

    <description>
        iPortogruaro
    </description>

    <author href="http://www.facebook.com/piterozzo" email="pietro.carta88@gmail.com">
        PhoneGap Team
    </author>

    <feature name="http://api.phonegap.com/1.0/device" />
	<feature name="http://api.phonegap.com/1.0/file" />
	<feature name="http://api.phonegap.com/1.0/geolocation" />
	<feature name="http://api.phonegap.com/1.0/network" />

    <preference name="phonegap-version" value="2.3.0" />
    <preference name="orientation"      value="portrait" />
    <preference name="target-device"    value="universal" />
    <preference name="fullscreen"       value="false" />
	<preference name="webviewbounce" 	value="true" />

    <icon src="icon.png" />
    <icon src="res/icon/android/icon-36-ldpi.png"   gap:platform="android"    gap:density="ldpi" />
    <icon src="res/icon/android/icon-48-mdpi.png"   gap:platform="android"    gap:density="mdpi" />
    <icon src="res/icon/android/icon-72-hdpi.png"   gap:platform="android"    gap:density="hdpi" />
    <icon src="res/icon/android/icon-96-xhdpi.png"  gap:platform="android"    gap:density="xhdpi" />
    <icon src="res/icon/ios/icon-57.png"            gap:platform="ios"        width="57" height="57" />
    <icon src="res/icon/ios/icon-72.png"            gap:platform="ios"        width="72" height="72" />
    <icon src="res/icon/ios/icon-57-2x.png"         gap:platform="ios"        width="114" height="114" />
    <icon src="res/icon/ios/icon-72-2x.png"         gap:platform="ios"        width="144" height="144" />
    
	<access origin="*" />
	
	<gap:plugin name="FacebookConnect">
		<param name="APP_ID" value="531543496877279" />
	</gap:plugin>
	
</widget>